*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#f4f6f9;
  font-family:Arial, Helvetica, sans-serif;
}

.container{
  width:450px;
  margin:70px auto;
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0px 4px 15px rgba(0,0,0,0.1);
}

h2{
  text-align:center;
  margin-bottom:20px;
  color:#333;
}

input{
  width:100%;
  padding:12px;
  margin-top:12px;
  border:1px solid #ccc;
  border-radius:8px;
}

button{
  width:100%;
  padding:12px;
  margin-top:15px;
  border:none;
  border-radius:8px;
  background:#2563eb;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  background:#1d4ed8;
}

.link-text{
  text-align:center;
  margin-top:15px;
}

.link-text a{
  text-decoration:none;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logout-btn{
  width:auto;
  background:crimson;
  padding:10px 15px;
}

.task-input{
  margin-top:20px;
}

.task-card{
  margin-top:15px;
  padding:15px;
  border-radius:8px;
  background:#f8f9fa;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.action-buttons{
  display:flex;
  gap:10px;
}

.action-buttons button{
  width:auto;
  margin-top:0;
  padding:8px 12px;
}

.delete-btn{
  background:crimson;
}

.completed{
  text-decoration:line-through;
  color:green;
  font-weight:bold;
}